
button a {
    text-decoration: none;
}
.login-singn {
    justify-content: space-between !important;
}

.container {
    
}

.form-control {
    border-radius: 15px;
}

.btn {
    background-color: white;
    border: 1px solid rgb(179, 174, 174);
    border-radius: 20px;
}




input {
    width: 520px !important;
}

.color {
    background-color: #50545F;
    margin: 0% 30%;
    border-radius: 15px;
    z-index: 99999;

}

#vv {
    padding: 0 17%;
}

.placeholder {
color: blue;
}

body {
    background-image: url("./Group\ 14.png");
    background-repeat: no-repeat;
    background-size: cover;
   
}

.image-form {
    background-color: rgba(127, 255, 212, 0.219);
    height: 100vh;
}